<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Principal</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/principal.css}" />
  </head>
  <body>
    <div class="container">
      <h2>Bem-vindo ao Sistema de Cadastro ConnectEtec</h2>
      <div class="options">
        <div>
          <a href="cadastroAluno" class="btn">Cadastro de Aluno</a>
          <a href="/alunos" class="btn">Lista alunos</a>
        </div>
        <div>
		  <a href="cadastro" class="btn">Cadastro de Funcionário</a>
          <a href="/funcionarios" class="btn">Lista Funcionarios</a>
        </div>
      </div>
    </div>
  </body>
</html>
